*{
  margin: 0;
  padding: 0;
}

.userList{
  box-sizing: border-box;
  border: 1px hidden;
  border-radius: 10px;
  background-color: rgb(118, 168, 211);
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  max-width: 700px;
  font-family: Arial, sans-serif;
}
.userDisplay {
  display: flex;
  flex-direction: row;
  
  width: 100%;
  margin-top: 10px;
}
.users {
  background-color: #cce5ff;
  margin: 15px;
  padding: 7px;
  border-radius: 10px;  
}
.userCard{
  padding: 5px;
}
.displayCard {
  box-sizing: border-box;
  border: 1px hidden;
  padding: 10px;
  margin: 5px;
  width: 40%;
}
h2{
  margin: 5px;
}
p{
  padding: 4px;
}