 * {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  width: 100%;
}
.UsersCard {
  box-sizing: border-box;
  border: 1px hidden;
  border-radius: 10px;
  background-color: rgb(118, 168, 211);
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: left; */
  max-width: 400px;
  font-family: Arial, sans-serif;
  /* position: fixed; */
}
h1 {
  color: black;
  margin-bottom: 10px; 
  padding: 5px;
} 
.usersList {
  margin-top: 10px;
  padding: 2px;
}
.users {
  background-color: #cce5ff;
  margin: 10px;
  padding: 7px;
  border-radius: 10px;
}
li {
  list-style: none;
  margin-left: 5px;  
}